// compileCompressed: ../css/$1.min.css

$border-radius: 4px;


@mixin segment-color( $color: red ){
  background-color: $color;
  $light: rgba( $color, 1);
  &:hover{
    background-color: $light;
    border-color: $light ;
  }
}

.data-field{
  position: relative;
  margin: 5px 0 5px 50px;
  .data-legend{
    position: absolute;
    left: -50px;
    top: 0px;
    @include segment-color(blue);
    border-radius: $border-radius;
  }
  input[type="text"]:disabled{
    background-color: white;
    border: 0;
  }
  input[type="number"]{
    text-align: center;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input{
    border-radius: $border-radius;
    border: 1px solid #ccc;
  }
}

#chart canvas {
  padding: 15px;
}

#pcf-main{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  & > div{
    display: flex;
    align-items: center;
    padding: 10px;
  }
}

$main-opacity: 0.5;
@mixin legend-bg( $color ){
  .data-legend{background-color: $color};
}
#field1{ @include legend-bg( rgba(red, $main-opacity ) ) }
#field2{ @include legend-bg( rgba(orange, $main-opacity) ) }
#field3{ @include legend-bg( rgba(yellow, $main-opacity) ) }
#field4{ @include legend-bg( rgba(green, $main-opacity) ) }
#field5{ @include legend-bg( rgba(blue, $main-opacity) ) }
#field6{ @include legend-bg( rgba(purple, $main-opacity) ) }
#field7{ @include legend-bg( rgba(fuchsia, $main-opacity) ) }
#field8{ @include legend-bg( rgba(teal, $main-opacity) ) }
